body, dt.tabs.open {
	background-color: #ffffff;
	color: #484848;
}


.custom-color-1{color:#aab137;}
.custom-color-2{color:#c0c0c0;}
.custom-color-3{color:#aab137;}
.custom-background-1{background-color:#aab137;}
.custom-background-2{background-color:#c0c0c0;}
.custom-background-3{background-color:#aab137;}

#slideshow-handler-bg {
	background-color: #f7f7f7;
}

#nav-handler {
	background-color: #f5f5f5;
}

a,a:hover, .moduletable_menu ul.menu li ul li a:hover {color: #aab137;}

#quick-menu li a {
	color: #787878;
}

#quick-menu li a:hover, .show-both {
	background-color: #aab137;
	color: #ffffff;
}

#search-handler .search {
	background-color: #ffffff;
	border: 1px solid #c0c0c0;
}

#search-handler .search .inputbox, #search-handler .search .button {
	color: #808080;
}

#search-handler .search .button:hover {
	background-color: #aab137 !important;
}

#top-handler {
	background-color: #ffffff;
	border-bottom: 3px solid #aab137;
}

.button, button, a.button, dt.tabs.closed:hover, dt.tabs.closed:hover h3 a, .closemenu, .highlight-button, #login-form .btn-group > .dropdown-menu, #login-form .btn-group > .dropdown-menu a, .btn, .btn-primary {
	color: #ffffff !important;
	background-color: #aab137 !important;
}

.button:hover, button:hover, a.button:hover, .closemenu:hover, .highlight-button:hover, .btn:hover, .btn-primary:hover {
	color: #ffffff !important;
	background-color: #777d0e !important;
}

a#menupanel {
	background-color: #aab137;
}

a#menupanel:hover {
	background-color: #555555 !important;
}

.rm-line { background-color: #ffffff; }


#login-form .btn-group > .dropdown-menu a:hover {
	background: #222222 !important;
}

#login-form .caret {
	border-top-color: #ffffff !important;
}


div.panel2, fieldset.phrases, fieldset.word, fieldset.only, .search .form-limit, .item-page,.categories-list,.blog,.blog-featured,.category-list,.archive {
	background:#ffffff;
	color: #484848;
}

.moduletable a, div.panel2 a, .category_description a {
	color: #aab137;
}

.camera_prev > span, .camera_next > span {
	background-color: #ffffff !important;
}
.camera_prev > span:hover, .camera_next > span:hover {
	background-color: #aab137 !important;
}

.camera_wrap .camera_pag .camera_pag_ul li {
background: #ffffff;
}

.camera_commands > .camera_play,.camera_commands > .camera_stop,.camera_prevThumbs div,.camera_nextThumbs div, .owl-pagination .owl-page.active, .owl-pagination .owl-page:hover {
	background-color: #ffffff !important;
}

.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span, .camera_wrap .camera_pag .camera_pag_ul li:hover > span, .owl-pagination .owl-page {
	background-color: #aab137;
}

.owl-pagination .owl-page {
	border-color: #aab137;
}

.camera_thumbs_cont ul li > img {
	border: 1px solid #2f2f2f !important;
}

.camera_caption {
	color: #484848;
}

.slide_cover {
background: rgba(255,255,255,0.76);
}

#menu .menu-nav li a, #menu .menu-nav ul a, #menu .menu-nav ul ul a, ul.menu-nav li a small, .panel1, .panel1 a {
	color: #414141;
}

#menu .menu-nav > li > a .sf-sub-indicator {
	border-top-color: #aab137 !important;
}

#menu .menu-nav ul li a .sf-sub-indicator {
	border-left-color: #aab137 !important;
}

.menu-nav > li.active > a, .menu-nav > li.active > a:hover, .menu-nav > li > a:hover, .menu-nav > li.sfHover > a {
	color: #aab137 !important;
}


#menu .menu-nav ul a:hover, .menu-nav ul li.sfHover > a, .menu-nav ul li a:hover, .menupanel ul.selectnav li a:hover, a#menupanel:hover, .dropdown-menu>li>a:hover{
	background-color: #aab137 !important;
	color: #ffffff !important;
}

#menu .menu-nav ul a:hover small {
	color: #ffffff;
}

#menu .menu-nav > li > a:hover .sf-sub-indicator,
#menu .menu-nav > li.sfHover > a .sf-sub-indicator  {
	border-top-color: #484848 !important;
}

#menu .menu-nav ul li a:hover .sf-sub-indicator,
#menu .menu-nav ul li.sfHover > a .sf-sub-indicator  {
	border-left-color: #ffffff !important;
}

#menu .menu-nav li ul, #menu .menu-nav li ul li ul, #nav ol, #nav ul, #nav ol ol, #nav ul ul, .panel1 {
	background-color: #ffffff !important;
	border:1px solid #eeeeee;
}

#menu .menu-nav > li > a:hover .tc-border, #menu .menu-nav > li.sfHover > a:hover .tc-border, #menu .menu-nav > li.sfHover > a .tc-border {
	background: #aab137;
}

#menu .menu-nav > li > a:hover .tc-border .tc-arrow, #menu .menu-nav > li.sfHover > a:hover .tc-border .tc-arrow, #menu .menu-nav > li.sfHover > a .tc-border .tc-arrow {
	border-bottom: 9px solid #aab137;
}

thead th, table th, tbody th, tbody td {
	border-top: 1px solid #e6e6e6;
}
tbody th, tbody td, .search-results dt.result-title, #brcr {
	border-bottom: 1px solid #e6e6e6;
}

.blog-featured article, .k2itemsl .spacer, .k2itemsl .spacer {
	border-top: 3px solid #aab137 !important;
	border: 1px solid #eeeeee;
}

p.readmore {
	background-color: #eeeeee;
}

p.readmore a, p.readmore a:hover {
	color: #aab137 !important;
}

.moduletable_menu ul.menu li {
	border-bottom: 1px solid #e6e6e6;
}

.moduletable_menu ul.menu li a, .latestnews_menu li a, {
	color: #7d7d7d;
}

.moduletable_menu ul.menu li a:hover, ul.latestnews_menu li a:hover {
	background-color: #aab137;
	color: #ffffff;
}

.moduletable_style1 {
	background-color: #f7f7f7;
	color: #484848;
	border-top: 3px solid #c0c0c0;
}

.moduletable_style1 a {
	color: #aab137;
}

.moduletable_style2 {
	background-color: #aab137;
	color: #ffffff;
}

.moduletable_style2 a {
	color: #ffffff;
}

.moduletable_style3 {
	background-color: #aab137;
	color: #ffffff !important;
}

.moduletable_style3 a {
	color: #ffffff;
}

.moduletable_style3:hover {
	background-color: #484848;
}

.moduletable_style4:before {
	background-color: #aab137;
}

.moduletable_style4:hover .custom_style4 > p > img, .moduletable_style4:hover .custom_style4 > div > img, .moduletable_style4:hover .custom_style4 > img {
	background-color: #ffffff;
}

.moduletable_style4:hover, .moduletable_style4:hover * {
	color: #ffffff !important;
}

#bot-modules {
	background-color: #eeeeee;
	color: #484848;
}

#bot-modules a { 
	color: #aab137;
}

#bot-modules-2, #footer {
	background-color: #ffffff;
	color: #c0c0c0;
}

#bot-modules-2 a { 
	color: #85bcd0;
}

#footer {
	color: #9d9d9d;
}

#footer a {
	color: #85bcd0;
}
#footer a:hover {
	color: #85bcd0;
}
