#menu{display:block}
#menu .menu-nav,#menu #mainlevel-nav{list-style:none;padding:0;margin:0;z-index:5001!important;margin-left:14%}
.menu-nav,.menu-nav *{margin:0;padding:0;list-style:none}
.menu-nav{line-height:1.0}
.menu-nav ul{position:absolute;top:-999em;width:10em}
.menu-nav ul li{width:100%}
.menu-nav li:hover{visibility:inherit}
.menu-nav li{float:left;position:relative}
.menu-nav a{display:block;position:relative}
.menu-nav li:hover ul,.menu-nav li.sfHover ul{left:0em;top:50px;z-index:99}
ul.menu-nav li:hover li ul,ul.menu-nav li.sfHover li ul{top:-999em}
ul.menu-nav li li:hover ul,ul.menu-nav li li.sfHover ul{left:10em;top:0}
ul.menu-nav li li:hover li ul,ul.menu-nav li li.sfHover li ul{top:-999em}
ul.menu-nav li li li:hover ul,ul.menu-nav li li li.sfHover ul{left:10em;top:0}
.menu-nav{float:left}
.menu-nav a{padding:0;text-decoration:none}
.menu-nav a,.menu-nav a:visited{color:#13a}
#menu .menu-nav li:first-child,#menu .menu-nav>li:first-child{background-image:none}
#menu .menu-nav>li{border-left:1px solid #c0c0c0;padding:10px 15px;text-transform:uppercase;font-weight:bold;height:auto}
#menu .menu-nav>li>a span{font:700 14px 'Open Sans',Arial,Helvetica,sans-serif;letter-spacing:-1px;text-transform:uppercase}
#menu .menu-nav>li>a.hasNote span{line-height:20px!important}
#menu .menu-nav>li>a small{font:400 11px/12px 'Open Sans',Arial,Helvetica,sans-serif;letter-spacing:0;text-transform:none}
#menu .menu-nav>li>a .tc-border{opacity:0;-moz-transition-duration:0.4s;-webkit-transition-duration:0.4s;-o-transition-duration:0.4s;-ms-transition-duration:0.4s;transition-duration:0.4s;-webkit-transition-property:opacity;-ms-transition-property:opacity;-o-transition-property:opacity;-moz-transition-property:opacity;transition-property:opacity}
#menu .menu-nav>li>a:hover .tc-border,#menu .menu-nav>li.sfHover>a:hover .tc-border,#menu .menu-nav>li.sfHover>a .tc-border{display:block;height:0;position:absolute;top:39px;width:100%;padding:0!important;z-index:9;opacity:1}
#menu .menu-nav>li>a:hover .tc-border .tc-arrow,#menu .menu-nav>li.sfHover>a:hover .tc-border .tc-arrow,#menu .menu-nav>li.sfHover>a .tc-border .tc-arrow{display:block;width:0!important;height:0;padding:0!important;border:9px solid rgba(255,255,255,0);position:relative;bottom:13px;left:50%;margin-left:-9px}
#menu .menu-nav>li>a .sf-sub-indicator{display:none}
#menu .menu-nav>li>a>span{padding:0 5px;display:block}
#menu .menu-nav ul>li a{font:400 13px 'Open Sans',Arial,Helvetica,sans-serif;text-transform:uppercase;font-weight:bold}
ul#nav{margin-left:-10px;padding:4px 0}
.menu-nav li{background:none;padding:0}
.menu-nav li li{background:none;border-left:0!important;padding:0}
.menu-nav li li li{background:none}
.menu-nav li:hover,.menu-nav li.sfHover,.menu-nav a:focus,.menu-nav a:hover,.menu-nav a:active{outline:0;-moz-transition-duration:0.4s;-webkit-transition-duration:0.4s;-o-transition-duration:0.4s;-ms-transition-duration:0.4s;transition-duration:0.4s;-webkit-transition-property:background-color;-ms-transition-property:background-color;-o-transition-property:background-color;-moz-transition-property:background-color;transition-property:background-color}
.menu-nav li li:hover,.menu-nav li li.sfHover,.menu-nav li li a:focus,.menu-nav li li a:hover,.menu-nav li li a:active{text-decoration:none;outline:0}
.menu-nav ul{opacity:0.95;padding:5px 5px!important;-moz-box-shadow:0 2px 5px rgba(0,0,0,.14);-webkit-box-shadow:0 2px 5px rgba(0,0,0,.14);box-shadow:0 2px 5px rgba(0,0,0,.14)}
.menu-nav ul ul{opacity:1.0;padding:5px 5px!important;margin-top:-5px;margin:-6px 10px 10px 0}
.menu-nav li a{font-weight:bold}
.menu-nav li li a{padding:5px 10px;font-weight:normal;line-height:18px}
.menu-nav li li img{vertical-align:middle;float:left;margin:1px 6px 10px 0;width:16px;height:16px}
.menu-nav a.sf-with-ul{min-width:1px}
.sf-sub-indicator{position:absolute;display:block;right:.15em;top:1.05em;width:0;height:0;text-indent:-999em;overflow:hidden;border-style:solid;border-width:4px;border-color:transparent}
a>.sf-sub-indicator{top:0.7em;background-position:0 -100px}
a:focus>.sf-sub-indicator,a:hover>.sf-sub-indicator,a:active>.sf-sub-indicator,li:hover>a>.sf-sub-indicator,li.sfHover>a>.sf-sub-indicator{background-position:-11px -100px}
.menu-nav ul .sf-sub-indicator{background-position:-11px 0}
.menu-nav ul a>.sf-sub-indicator{background-position:0 0}
.menu-nav ul a:focus>.sf-sub-indicator,.menu-nav ul a:hover>.sf-sub-indicator,.menu-nav ul a:active>.sf-sub-indicator,.menu-nav ul li:hover>a>.sf-sub-indicator,.menu-nav ul li.sfHover>a>.sf-sub-indicator{background-position:-11px 0}
ul.columns-2 li{width:50%!important}
ul.columns-2 li li,ul.columns-3 li li,ul.columns-4 li li,ul.columns-5 li li{width:100%!important}
ul.columns-2 li ul,ul.columns-3 li ul,ul.columns-4 li ul,ul.columns-5 li ul{left:100%!important}
ul.columns-3 li{width:33.3%!important}
ul.columns-4 li{width:25%!important}
ul.columns-5 li{width:20%!important}
body div.panel1{position:absolute;top:3%;left:3%;display:none;width:94%;height:auto;z-index:300000;margin:0;float:right;height:auto;-moz-box-shadow:0 2px 30px rgba(0,0,0,.45);-webkit-box-shadow:0 2px 30px rgba(0,0,0,.45);box-shadow:0 2px 30px rgba(0,0,0,.45)}
body div.panel1 .menupanel{padding:20px}
body div.panel1 .menupanel a:hover{text-decoration:none}
.menupanel ul.selectnav{list-style:none}
.menupanel ul.selectnav li{margin:0!important}
.menupanel ul.selectnav li a{padding:5px 5px 4px 5px;display:block}
a#menupanel{color:#ffffff;display:none;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px}
ul.pagination{text-align:center!important;padding:0!important;margin:0!important}
ul.pagination li{background:none!important;display:inline!important;margin:0!important;padding:0 5px!important}
ul.menu{list-style:none}
ul.menu li{margin:0;padding:2px 0 4px 0}
a.sublevel{display:block;padding:4px 0 4px 24px;height:100%;background:url(../images/ul-li-default.png) no-repeat 0 5px}
ul.menu ul{list-style:none;margin:0}
ul.menu li ul li{background:none;margin:0;padding:2px 0 4px 22px;list-style-type:none!important}
ul.menu ul li a{padding-left:30px}
.menu-horizontal ul{margin:0}
.menu-horizontal li{list-style:none;padding:5px 9px!important;margin:0;display:inline}
.menu-horizontal li a{text-decoration:none!important;display:inline-block}
#social{padding:10px 7px 5px 5px;float:right}
#social-links{float:left;padding:0 0 0 0;margin:0 0 0 0}
#social-links li{display:inline-block;background:none;margin:0;height:22px;padding:0 0 0 5px!important}
#social-links li:first-child{padding:0 0 0 0!important}
#social-links li a{float:left;text-indent:-9999px;width:22px;height:22px;margin:0;-moz-transition-duration:0.4s;-webkit-transition-duration:0.4s;-o-transition-duration:0.4s;-ms-transition-duration:0.4s;transition-duration:0.4s;-webkit-transition-property:background-color;-ms-transition-property:background-color;-o-transition-property:background-color;-moz-transition-property:background-color;transition-property:background-color;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px}
#social-links li a span{width:22px;height:22px;display:block;background-image:url(../images/social-sprite.png);background-repeat:no-repeat;-moz-transition-duration:0.4s;-webkit-transition-duration:0.4s;-o-transition-duration:0.4s;-ms-transition-duration:0.4s;transition-duration:0.4s;-webkit-transition-property:background-position;-ms-transition-property:background-position;-o-transition-property:background-position;-moz-transition-property:background-position;transition-property:background-position}
#social-links li a#twitter span{background-position:0 0}
#social-links li a#gplus span{background-position:-22px 0}
#social-links li a#facebook span{background-position:-44px 0}
#social-links li a#rss span{background-position:-66px 0}
#social-links li a#linkedin span{background-position:-88px 0}
#social-links li a#pin span{background-position:-110px 0}
#social-links li a#vimeo span{background-position:-132px 0}
#social-links li a#stumbleupon span{background-position:-154px 0}
#social-links li a#digg span{background-position:-176px 0}
#social-links li a#yt span{background-position:-198px 0}
#social-links li a#twitter:hover span{background-position:0 -66px}
#social-links li a#gplus:hover span{background-position:-22px -66px}
#social-links li a#facebook:hover span{background-position:-44px -66px}
#social-links li a#rss:hover span{background-position:-66px -66px}
#social-links li a#linkedin:hover span{background-position:-88px -66px}
#social-links li a#pin:hover span{background-position:-110px -66px}
#social-links li a#vimeo:hover span{background-position:-132px -66px}
#social-links li a#stumbleupon:hover span{background-position:-154px -66px}
#social-links li a#digg:hover span{background-position:-176px -66px}
#social-links li a#yt:hover span{background-position:-198px -66px}
.tipz{margin-top:-54px;margin-left:-44px}
.tipz .tip{width:82px;font:bold 10px Arial,Helvetica,sans-serif}
.tipz .tip-title{font-weight:bold;padding:7px 0 7px 0;text-align:center}
.tipz .tip-text{display:none}
#footer-line ul.menu{padding:0 0 10px 0;margin:0;text-align:center}
#footer-line ul.menu li{display:inline!important;padding:4px 10px 0 0;margin:0;background:transparent}
#footer-line ul.menu li a{display:inline!important;background:none;padding:0;margin:0;text-transform:uppercase}
.moduletable_menu ul.menu,ul.latestnews_menu{list-style:none}
.moduletable_menu ul.menu li,ul.latestnews_menu li{margin:0;padding:1px 0}
.moduletable_menu ul.menu li a,ul.latestnews_menu li a{display:block;background:none}
.moduletable_menu ul.menu li a:hover,ul.latestnews_menu li a:hover,.VMmenu li div a:hover{text-decoration:none}
.moduletable_menu ul.menu li ul li a:hover,.VMmenu ul li div a:hover{text-decoration:underline;background:none!important}
.moduletable_menu ul.menu li ul li{padding:4px 0 4px 30px;background:none!important}
.moduletable_menu ul.menu li ul li a{display:block;height:100%;font-weight:normal!important;border:0;padding:0!important;text-decoration:none}
.moduletable_menu li.parent.active{font-weight:bold}
.moduletable_menu ul,.moduletable_menu li{background:transparent;margin:0;padding:0;list-style:none}
.moduletable_menu ul.menu,.moduletable_menu ol.menu{margin-top:0;margin-bottom:0}
.moduletable_menu ul.menu li ul,{margin-top:0;margin-bottom:0}
.moduletable_menu ul.menu li a,.moduletable_menu ol.menu li a,.moduletable_menu ul.menu li ul li a{margin:0!important;padding:8px 10px;display:block;text-decoration:none;font-size:100%;font-weight:normal}
.moduletable_menu ul.menu li a,.moduletable_menu ol.menu li a,ul.latestnews_menu li a{padding:8px 0;-moz-transition-duration:0.4s;-webkit-transition-duration:0.4s;-o-transition-duration:0.4s;-ms-transition-duration:0.4s;transition-duration:0.4s;-webkit-transition-property:background-color,padding,-webkit-box-shadow;-ms-transition-property:background-color,padding,box-shadow;-o-transition-property:background-color,padding,box-shadow;-moz-transition-property:background-color,padding,-moz-box-shadow;transition-property:background-color,padding,box-shadow;font:700 14px 'Ubuntu',Arial,Helvetica,sans-serif;text-transform:uppercase}
.moduletable_menu ul.menu li a:hover,.moduletable_menu ol.menu li a:hover,ul.latestnews_menu li a:hover{padding:8px 10px}
.moduletable_menu ul.menu li li a:hover,.moduletable_menu ol.menu li li a:hover{-moz-box-shadow:none!important;-webkit-box-shadow:none!important;box-shadow:none!important}
.moduletable_menu ul.menu li ul li,.moduletable_menu_light ul.menu li ul li,.latestnews_menu_light li,.latestnews_menu li ul li{border-bottom:0!important}
.latestnews_menu_light a,.latestnews_menu a{font-size:90%;font-weight:bold}
.latestnews_menu_light li,.latestnews_menu li{background-position:8px 5px!important;padding-left:30px!important}
.moduletable_menu ul.menu li a:hover,.moduletable_menu ol.menu li a:hover,.moduletable_menu_light ol.menu li a:hover{margin:0;padding:8px 10px;text-decoration:none}
.moduletable_menu ul.menu li a img{vertical-align:middle;margin:0!important;padding:0 6px 0 0!important;float:left;border-style:none!important;background:transparent!important}
.moduletable_menu ul.menu li.separator img,.moduletable_menu li.separator img,.moduletable_menu ul.menu li img,.moduletable_menu_light li.separator img{padding:0 10px 0 5px!important;vertical-align:middle;margin:0!important;float:left;border-style:none!important;background:transparent!important}
.moduletable_menu ul.menu li.active ul li a.current,.moduletable_menu ul.menu li ul li a.current,.moduletable_menu ul.menu li.active ul li a.active,.moduletable_menu ul.menu li ul li a.active{background:#333333!important}
.moduletable_menu ul.menu li.separator .image-title,.moduletable_menu_light ul.menu li.separator .image-title{font-size:75%!important}
.moduletable_menu ul.menu li.separator{font-size:75%!important;line-height:200%!important}
@media(max-width:800px){
#menu .tc-border{display:none!important}
#slideshow-handler .mod_flexifilter_wrapper{background-color:rgba(7,80,164,0.9);padding-top:16px;position:relative!important;width:100%}
}
@media(max-width:700px){
#contact-right .callus{width:100%!important;text-align:center!important}
.infoside{width:100%!important}
.mapside{width:100%!important}
.item-274{display:none}
.shsuj{text-align:center;display:flex;float:left}
}
.item-274{font-size:0;border:none!important;margin-top:-10px;cursor:pointer}
div.blocksearch{position:absolute;top:0;right:0;margin-top:50px;z-index:100;background:#fff;padding-left:14px;border:1px solid #eee;display:none}
#menu{position:relative}
#fc_filter_form_blocker{display:none!important}
#mCSB_1_scrollbar_vertical{width:7px}
.mCSB_buttonUp ,.mCSB_buttonDown{display:none!important}
.blocksearch input[type="submit"]{padding-top:5px;padding-bottom:5px}