<h1>Thanks for using flexIMPORT</h1>
<p><img src="../media/com_fleximport/images/com_fleximport.png"></p>
<p>An easy to use and powerful import/export management solution for FLEXIcontent</p>

<h1>Check our tutorials</h1>
<p>You are lost or you can't configure flexIMPORT as you wish ? Don't hesitate to check <a href="http://extensions.netassopro.com/tutorials">our tutorials</a></p>
<p>By reading the tutorials you will understand flexIMPORT better, and so you use a better structure for your projects.
You can also acquire a set of good practices in the use of flexIMPORT</p>
