<h1>Merci d'utiliser flexIMPORT</h1>
<p><img src="../media/com_fleximport/images/com_fleximport.png"></p>
<p>Une solution d'import/export simple d'utilisation et puissante pour FLEXIcontent</p>

<h1>Consultez les tutoriels</h1>
<p>Vous êtes perdu ou vous n'arrivez pas à configurer flexIMPORT comme vous le souhaitez ?
N'hésitez pas à consulter <a href="http://extensions.netassopro.com/tutorials">notre série de tutoriels</a>.</p>
<p>La lecture des tutoriels vous permettra de mieux comprendre flexIMPORT, et ainsi de mieux structurer vos projets.
Vous pourrez également acquérir un ensemble de bonnes pratiques dans l'utilisation de flexIMPORT.</p>

