#popup,#popup2,.bMulti{background-color:#fff;border-radius:10px 10px 10px 10px;box-shadow:0 0 25px 5px #999;color:#111;display:none;min-width:450px;padding:25px}#popup .logo{color:#2b91af;font:bold 325% 'Petrona',sans}#popup,.bMulti{min-height:250px}#popup2 iframe{background:url('loader.gif') center center no-repeat;min-height:240px;min-width:450px}.loading{background:url('loader.gif') center center no-repeat}.bMulti p{font:500% 'Petrona',sans-serif;padding:45px 0 0;text-align:center}.bMulti a{left:175px;position:absolute;top:175px}.lt-ie9 .bModal{background-color:#000}.github{background:url('images/github.png') 0 0 no-repeat;height:149px;width:149px;opacity:.6;position:fixed;right:0;top:0;-webkit-transition-property:opacity;-moz-transition-property:opacity;transition-property:opacity;-webkit-transition-duration:.35s;-moz-transition-duration:.35s;transition-duration:.35s;-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;transition-timing-function:ease-out}.github:hover{opacity:1}.button.b-close,.button.bClose{border-radius:3px;box-shadow:none;font:bold 115% sans-serif;padding:4px 8px 4px;position:absolute;right:10px;top:10px}.button{background-color:#2b91af;border-radius:10px;box-shadow:0 2px 3px rgba(0,0,0,0.3);color:#fff;cursor:pointer;display:inline-block;padding:10px 20px;text-align:center;text-decoration:none}
#tabs { border: none; }
.cloud-tag a:hover,a.tag-cloud:hover {
    color: #000!important;
}
@media only screen and (max-width: 1366px) { 
    #main-page-html table tbody tr td:first-child { 
      padding-left: 30px!important;
        padding-right: 30px!important;
        width: 550px!important;
    }

}
.col-1 {
    position: fixed;
    overflow-x: auto;
    height: 99%;
    min-width: 380px;
    max-width: 400px;
}
#adform {
    min-height: 80px;
    margin: 0 auto;
    float: none;
    width: auto;
    display: table;
     padding-left: 0px!important;
}

#adform-button1 {
    position: absolute!important;
    right: 48px!important;
    top: 44px;
    width: 155px!important;
}
.col-2 ,.top-header {
        margin-left: 382px;
        
}
.main-1 {
        padding-bottom: 75px;
}
#form12 a.tag-cloud{
    float: none!important;
    display: flex!important;
    width: 100%!important;
    font-size: 20px!important;
}
#sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
            #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
            #sortable li span { position: absolute; margin-left: -1.3em; }
            #all {
              max-width: 100%!important; 
            }
            body{
                font-family: 'Arial';
                margin-top: 0px;
                margin-left: 0px;
            }
            .allpage{
                width: 1415px;
                
            }
            .allmodule{
                width:210px;
            }
            a.tag-cloud{
            
            }
            #logomail img {
                width: 260px;
            }
            .col-1{
               
                float: left;
                width: 21%;                
                border-right: 1px solid #e3e3e3;
                min-height: 500px;
               
                   
            }
            .col-2{
                float: left;
                width: 77%;               
                background-color: #fff;
                 min-height: 1300px;
            }
            .logo{
                background-image: url(images/logo.png) ;
                background-position: center;
                background-size: 180px ;
                height: 34px;
                width: 100%;
                padding-bottom: 28px;
                padding-top: 20px;
                border-bottom: 1px solid #e3e3e3;
                background-repeat: no-repeat;
            }
            .block-2{
                
                margin: 7px;                
                border-bottom: 1px solid #ddd;
                float: left;                
                cursor: pointer;
                    padding-left: 15px;
            }
            .block-2:hover {
                   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
            .block-3{
                 width: 96%;                 
                 margin: 10px;  
                     display: table;
                 
            }
            .image1{
                               
                    width: 50px;    float: left;
            }
            .fa-3x {
                border:none!important;
                    font-size: 31px;
    padding-top: 8px;
            }
            .text1{
                    text-transform: uppercase;
                    font-size: 11px;
                    padding-bottom: 10px;
                    padding-top: 19px;
                    font-size: 13px;
                
            }
            .top-header{
                display: block;
              
                padding: 20px 0px 20px 110px;    
                font-size: 35px;
                font-weight: 200;
                text-transform: uppercase;
                border-bottom: 2px solid #ccc;
                background-color: #fff;
                  
            }
            .header1{
                margin-bottom: 50px;
                text-align: center;
                font-weight: bolder;
                margin-top: 20px;
                 font-size: 25px;
            }
            .left{
                width: 600px;
                float: left;
                margin-left: 100px;
            }
            .right{
                width: 210px;
                padding: 5px;
                float: right;
                margin-right: 100px;
            }
            .module{
                margin-top: 5px;
                margin-bottom: 20px;
                border: 4px solid #ddd;
                border-radius: 3px;
                background-color: #fff;
                text-align: center;
            }
            .main-1{
                 padding-left: 15px;
                padding-right: 15px;
            }
            .blue {
                padding: 20px;
                text-align: center;
                background-color: #2268BE;
                color: #fff;
                border: none;
            }
            .blue h1{
                color: #F79925!important;
                text-transform: uppercase;
                 font-size: 18px!important;
            }
            .blue a {
                 color: #F79925;
                 background-color: #0F4180;
                 font-size: 12px;
                 padding: 10px;
                 margin: 5px;
                 margin-top: 20px;
                 text-decoration: none; 
            }
            .button-blu {
                 color: #fff;
                 background-color: red;
                 font-size: 25px;
                 padding: 10px;
                 margin: 5px;
                 margin-top: 5px;
               border: none;
            }
             .button-red {
                 color: #fff;
                 background-color: red;
                 font-size: 12px;
                 padding: 10px;
                 margin: 5px;
                 margin-top: 5px;
               border: none;
            }
            .button-or {
                 color: #FFF!important;
                 background-color: #FF9b0b;
                 font-size: 12px;
                 padding: 10px;
                 margin: 5px;
                 margin-top: 20px;
                 text-decoration: none; 
                padding-left: 30px;
                padding-right: 30px;
            }
            .default{
                padding: 30px;
                text-align: center;
               
                
            }
            #social{
                background: transparent;
                border: none;
            }
            #social a {
                 text-decoration: none; 
            }
            .marb-50 {
                margin-bottom: 100px;
            }
            input[type=text] {
                    display: inline-block;
                    padding: 16px;
                    font-size: 1.2em;
                    line-height: 1.2em;
                    border: 1px solid #ebebeb;
                    background-color: #fff;
                    border-radius: 0;
                    width: 85%;
                    margin-top: 10px;
                    margin-bottom:  10px;
            }
            a{
                color: #2366bd;
            }
            .cke_chrome {
  
                border: none !important;
               /* padding: 0; */
                box-shadow: none!important;
           }
           tr, td {
               border: none;
           }
          @media only screen and (max-width: 1366px) {
              #block-button{
                      margin-left: -23px!important;
              }
              #adform-button1{
                  margin: -35px -60px 14px!important;
              }
              .block-2{
                      width: 26%!important;
              }
            }
            
            .left_menu_wrap {
               position: relative;
            }
            
            
             .edittem:hover{
                  border: solid 2px red;
              }
              .edittem {
                    font-size: 18px;
                    padding: 21px 10px 22px 43px; 
                    border-radius: 7px;  
                    color: #666;  
                    cursor: pointer;
                  
                    background-repeat: no-repeat; 
                    background-position: left;
              }
              .aask1{
                    background-image: url('/components/com_enewsletter/assets/images/addnew.jpg'); 
              }
              .aask2{
                    background-image: url('/components/com_enewsletter/assets/images/open.jpg'); 
              }
              .aask3{
                    background-image: url('/components/com_enewsletter/assets/images/his.jpg'); 
              }
			  
.setting_widgets_area {
	display:none;
	width:96%;
	margin:0 auto;
}
.setting_widgets_area dt, .setting_widgets_area dd {
	padding:0;
	margin:0;
}
.setting_widgets_area dt {
	font-weight:bold;
	margin-top:10px;
	margin-bottom:20px;
	color:#990000;
	text-transform:uppercase;
}
.setting_widgets_area dd ul {
	list-style:none;
	padding:0;
	margin:0;
}
.setting_widgets_area dd ul li {
	margin-bottom:10px;
}
.setting_widgets_area dd ul li label {
	display:inline-block;
	min-width:100px;

}
.setting_widgets_area input[type="text"] {
	width:auto;
	margin:0
}
.settingpoll a, .settingpoll span {
	display:none;
}
ul.tabcontrol {
	padding-top:0;
	margin-top:0;
}
.faketabcontrol {
	background-color: #f0f0f0;
	border-top: 1px solid #ccc;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	/*border-bottom: 1px solid #ccc;*/
	font-size: 17px;
	
	margin-left: 12px;
	width: 89.2%;
	margin-top:20px;
}
.faketabcontrol a {
	font-size: 17px;
	color:#000;
	text-decoration:none;
}
.bigsavebutton {
	margin-top:20px;
}
.bigsavebutton button {
	font-size:24px;
	padding:10px 15px;
}

.ctaicon_mp4 , .ctaicon_pdf , .ctaicon_mp3 , .ctaicon_docx , .ctaicon_xlsx , .ctaicon_flv ,.ctaicon_pptx  {
	padding-left: 25px;
	background-position: 0px;
	background-repeat: no-repeat;
	background-size: 19px;
	display:inline-block;
}
.ctaicon_mp4 , .ctaicon_flv{
	  background-image: url('images/video.png'); 
}
.ctaicon_docx {
	  background-image: url('images/docx.png'); 
}
.ctaicon_xlsx {
	  background-image: url('images/xlsx.png'); 
}
.ctaicon_pdf  {
	  background-image: url('images/pdf.png'); 
}
.ctaicon_pptx  {
	  background-image: url('images/pptx.png'); 
}
.clsdeletecta {
	cursor:pointer;
	color:#990000;
	font-weight:bold;
}