<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>LeadPages Template Starter Kit</title>
	<style>@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');</style>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/html5shiv.js"></script>
    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/functions.js"></script>
</head>
<body>

<!--Header -->
<div data-lead-id="container--header-wrapper" id="header_wrapper">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<img data-lead-id="image--logo" id="logo" src="img/logo3.png" alt="Logo">
			</div>
		</div>
	</div>
</div>
<!--End Header -->

<!-- Intro Area -->
<div data-lead-id="container--intro-wrapper" id="intro_wrapper" class="section short text-center">
	<img data-lead-id="image--intro_bg" id="intro_bg" class="header-bg-img" src="img/intro-bg.jpg" alt="">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1 data-lead-id="text--intro_title" id="intro_title">Example Marketplace Template</h1>
				<h2 data-lead-id="text--intro_subtitle" id="intro_subtitle">Based on Modern Webinar</h2>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div data-lead-id="horizontalRule2" class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
				<hr data-lead-id="container--hr1" />
			</div>
		</div>
	</div>

	<div id="date_wrapper" class="section short">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h4 data-lead-id="text--join_us" id="join_us">Join Our Live Webinar</h4>
					<p id="date">
						<span data-lead-id="text--day" id="day">Sept 30, 2015</span>
						<span data-lead-id="container--dashes" class="spacer">//</span>
						<span data-lead-id="text--time" id="time">3:00pm CST</span>
					</p>
				</div>
			</div>
		</div>
	</div>
	<a data-lead-id="link--cta_1_link" id="cta_1_link" class="btn">Sign Me Up</a>
</div>
<!--End Intro -->

<!--Countdown Timer -->

<div data-lead-id="container--countdown-wrapper" id="countdown_wrapper" class="section">
	<div class="container text-center">
		<div class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
				<h4 data-lead-id="text--countdown_text" id="countdown_text">Registration closes in:</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div data-lead-id="countdown--launch_countdown" id="launch_countdown">
					<ul class="countdown">
						<li>
							<div class="time-wrapper"><span class="days">6</span></div>
							<p data-lead-id="text--cd-days" class="timeRefDays" id="days-text">Days</p>
						</li>
						<li>
							<div class="time-wrapper">
								<span class="hours">4</span>
							</div>
							<p data-lead-id="text--cd-hours" class="timeRefHours" id="hours-text">Hours</p>
						</li>
						<li>
							<div class="time-wrapper">
								<span class="minutes">12</span>
							</div>
							<p data-lead-id="text--cd-mins" class="timeRefMinutes" id="minutes-text">Minutes</p>
						</li>
						<li>
							<div class="time-wrapper">
								<span class="seconds">44</span>
							</div>
							<p data-lead-id="text--cd-secs" class="timeRefSeconds" id="seconds-text">Seconds</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<!--End Countdown-->

<!--Description -->
<div data-lead-id="container--description-wrapper" id="description_wrapper" class="section">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-7">
				<div data-lead-id="video--description-video" id="embed_media">
					<iframe width="750" height="422" src="https://www.youtube.com/embed/5i-VYe7EI2g?list=UUJ8GHC6QaHBUk2TfDxtuYUg" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			<div class="col-xs-12 col-sm-5">
				<h2 data-lead-id="text--description_title" id="description_title">Featured Guest</h2>
				<h3 data-lead-id="text--description_subtitle" id="description_subtitle">John Doe, SEO Expert</h3>
				<p data-lead-id="text--description_text" id="description_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus orci orci, id maximus ipsum bibendum et. Pellentesque et tellus odio. Proin nec ipsum feugiat, viverra leo eleifend, facilisis nisl. Etiam in nulla vel lacus dapibus volutpat eleifend et dui.<br /><br />
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus orci orci, id maximus.</p>
			</div>
		</div>
	</div>
</div>
<!-- End Description -->

<!-- Testimonial -->
<div data-lead-id="container--testimonial-wrapper" id="testimonial_wrapper" class="section">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h4 data-lead-id="text--testimonial_title" id="testimonial_title">What people are saying...</h4>
			</div>
		</div>
		<div id="testimonial_1" class="row testimonial">
			<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
				<div><p data-lead-id="text--testimonial_1_text" id="testimonial_1_text" class="testimonial-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus orci orci, id maximus ipsum bibendum et."</p>
				<p data-lead-id="text--testimonial_1_author" id="testimonial_1_author" class="testimonial-author">- Jane Smith</p></div>
			</div>
		</div>
		<div id="testimonial_2" class="row testimonial">
			<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
				<div><p data-lead-id="text--testimonial_2_text" id="testimonial_2_text" class="testimonial-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus orci orci, id maximus ipsum bibendum et."</p>
				<p data-lead-id="text--testimonial_2_author" id="testimonial_2_author" class="testimonial-author">- Jane Smith</p></div>
			</div>
		</div>
	</div>
</div>
<!--End Testimonial -->

<!--Image Links and Facebook -->
<div data-lead-id="container--imglnk-wrapper" id="imglnk_wrapper" class="section">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h3 data-lead-id="text--imglnk_title" id="imglnk_title">VISIT OUR SPONSORS</h3>
				<a href="https://leadpages.net" data-lead-id="image-link--imgLink_01">
				<img src="img/lp2.png">
				</a>
				<a href="https://leadpages.net" data-lead-id="image-link--imgLink_02">
				<img src="img/lp2.png">
				</a>
				<a href="https://leadpages.net" data-lead-id="image-link--imgLink_03">
				<img src="img/lp2.png">
				</a>
				<hr data-lead-id="container--hr2" id="soc_hr" style="background-color:#000000; height: .15em; width: 50%" />
				<h3 data-lead-id="text--fblike_text" id="fblike_text">Like & Share</h3>
				<div data-lead-id="facebook-button--fblike">
					<img src="img/fb_like.png" alt="">
				</div>
				<div>
					<a href="" data-lead-id="dynamic--fbshare" >
					<img src="img/fb_share.png" alt="">
					</a>
				</div>
			</div>

		</div>

	</div>
</div>
<!--End Image Links and Facebook-->

<!--Added Section 2 EMBED-->
<div data-lead-id="container--embed-wrapper" id="embed_wrapper" class="section">
	<div class="container text-center">
		<div class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
				<h4 data-lead-id="text--emb_title" id="emb_title">Check Out This Audio Sample!</h4>
				<div data-lead-id="embed--embed_01" id="embed_01" class="row">
					<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/168946410&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Section 2 EMBED -->

<!--Final CTA -->
<div data-lead-id="container--cta-wrapper" id="cta_wrapper" class="section">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h2 data-lead-id="text--cta_title" id="cta_title">Don't miss this exclusive training</h2>
				<a data-lead-id="link--cta_2_link" id="cta_2_link" class="btn">Sign Me Up</a>
			</div>
		</div>
	</div>
</div>
<!-- END CTA -->

<!-- FOOTER -->
<div data-lead-id="container--footer-wrapper" id="footer_wrapper">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-sm-push-3 text-center">
				<p data-lead-id="text--legal_text" id="legal_text">&copy; Copyright. All Rights Reserved. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam bibendum risus at sapien scelerisque maximus.</p>
				<ul data-lead-id="container--social-media" id="social_media" class="social-icons">
					<li data-lead-id="container--social-facebook" id="social_facebook">
						<i class="fa fa-facebook"></i>
						<a data-lead-id="link--facebook_link" id="facebook_link" href="https://www.facebook.com/"></a>
					</li>
					<li data-lead-id="container--social-twitter" id="social_twitter">
						<i class="fa fa-twitter"></i>
						<a data-lead-id="link--twitter_link" id="twitter_link" href="https://www.twitter.com/"></a>
					</li>
					<li data-lead-id="container--social-google" id="social_google">
						<i class="fa fa-google-plus"></i>
						<a data-lead-id="link--google_link" id="google_link" href="https://plus.google.com/"></a>
					</li>
					<li data-lead-id="container--social-linkedin" id="social_linkedin">
						<i class="fa fa-linkedin"></i>
						<a id="linkedin_link" href="https://www.linkedin.com/"></a>
					</li>
				</ul>
				<div data-lead-id="container--footer_links" id="footer_links">
					<a data-lead-id="link--footer_link_1" id="footer_link_1">Privacy Policy</a>
					<a data-lead-id="link--footer_link_2" id="footer_link_2">Legal Link</a>
					<a data-lead-id="link--footer_link_3" id="footer_link_3">Extra Link</a>
					<a data-lead-id="link--footer_link_4" id="footer_link_4">Extra Link</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END FOOTER -->

</body>
</html>
