<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>

       <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Template Kit</title>
      <style>@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');</style>
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
          <script src="js/html5shiv.js"></script>
          <script src="js/jquery-1.9.1.min.js"></script>
          <script src="js/bootstrap.min.js"></script>
          <script src="js/functions.js"></script>
          <link rel="stylesheet" href="css/bootstrap.min.css"/>
          <link rel="stylesheet" href="css/style.css">
      
    </head>
    <body>
        <div class="fullpage">
            <div class="top">
                <div class="site-show" >
                    <div class="background-top"><img data-lead-id="background-top" alt="" class="thumbnail"  src="img/header-sky.png" /></div>
                    <div class="top_1 col-md-12">
                        <div class="logo col-md-5" ><img  data-lead-id="logo-img"   src="img/your-logo.png" /> </div>
                        <div class="contact col-md-5"  > 
                            <div class="phone col-md-12"    data-lead-id="text-box40" >
                                567 - 900 - 7877
                            </div>
                            <h3 class="col-md-12"  data-lead-id="text-box41"  >Call Us and speack to a licensed agent</h3>
                        </div>
                    </div>
                    <div class="top_2">
                        <div class="col-md-7">
                            <img  data-lead-id="image-couple" src="img/couple.png" />
                        </div>
                        <div class="col-md-5">
                            <div class="box-sign-up">
                                <div class="intro">
                                    <h1  class="box-header"  data-lead-id="box-header1"  > Get The Right Medicare Plan For You</h1>
                                    <div class="box-content" data-lead-id="box-content1" >
                                        We help you learn about Medicare Supplement Insurance & Part D Precirption Drug Plan
                                    </div>
                                    <div class="box-list" data-lead-id="box-list1" >
                                        <ul>
                                            <li >Mediacare Supplement Insurance</li>
                                            <li >Medicare Advantage Plans</li>
                                            <li >Part D Prescription Drug Plans</li>
                                        </ul>
                                    </div>
                                    <a data-lead-id="link--cta_1_link" id="cta_1_link" class=" b1 btn">SIGN UP NOW </a>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="mid-1 col-md-12" data-lead-id="mid-1" >
                <div class="site-show" >
                    <div style="mid1-top" class="mid1-top-img" >
                        <img  data-lead-id="img1"   src="img/briefcase.png" />
                        <h1 class="mid1-h1"    data-lead-id="text-box1"  > Companies we work with </h1>
                        <div class="mid1-con"   data-lead-id="text-box2"   > We work only with reliable companies </div>
                    </div>
                    <div class="col-md-3">
                        <img  data-lead-id="img2" src="img/logo1.jpg" />
                    </div>
                    <div class="col-md-3">
                        <img data-lead-id="img3"  src="img/logo2.jpg" />
                    </div>
                    <div class="col-md-3">
                        <img  data-lead-id="img4"   src="img/logo3.jpg" />
                    </div>
                    <div class="col-md-3">
                        <img  data-lead-id="img5" src="img/logo4.jpg" />
                    </div>
                </div>
            </div>
            <div class="mid-2" data-lead-id="mid-2" >
                <div class="site-show" >
                    <div style="mid2-top" class="mid1-top-img">
                        <img data-lead-id="img60"  src="img/report.png" />
                        <h1 class="mid2-h1"  data-lead-id="text-box3"  > Learn About Medicare Plan </h1>
                        <div class="mid2-con"  data-lead-id="text-box4" > Find a Medicare plan that is right for you </div>
                    </div>

                    <div class="col-md-4">
                        <div class="inside">
                            <img  data-lead-id="img6"   src="img/icon1.png" />
                            <h1 class="inside-h1"    data-lead-id="text-box5"   > Medicare Supplement Insurance </h1>
                            <div class="inside-con"    data-lead-id="text-box6" >  Medicare Supplement Insurance olasn are offered to those enrolled in medicare Part A and B </div>
                            <div class="inside-link"> <a style="inside-link" data-lead-id="inside-link1" >Learn more</a></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="inside">
                            <img  data-lead-id="img7" src="img/icon2.png" />
                            <h1 class="inside-h1"  data-lead-id="text-box7" > Medicare Supplement Insurance </h1>
                            <div class="inside-con"   data-lead-id="text-box8" >  Medicare Supplement Insurance olasn are offered to those enrolled in medicare Part A and B </div>
                            <div class="inside-link"> <a style="inside-link" data-lead-id="inside-link2" >Learn more</a></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="inside">
                            <img  data-lead-id="img8"    src="img/icon3.png" />
                            <h1 class="inside-h1"  data-lead-id="text-box9" > Medicare Supplement Insurance </h1>
                            <div class="inside-con"    data-lead-id="text-box10" >  Medicare Supplement Insurance olasn are offered to those enrolled in medicare Part A and B </div>
                            <div class="inside-link"> <a style="inside-link" data-lead-id="inside-link3" >Learn more</a></div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="mid-3" data-lead-id="mid-3" >
                <div class="site-show" >
                    <div style="mid1-top" class="mid1-top-img" >
                        <img data-lead-id="img9"   src="img/chat.png" />
                        <h1 class="mid1-h1"    data-lead-id="text-box11"    > What Our Customers Think of Us </h1>
                        <div class="mid1-con"   data-lead-id="text-box12"  > More than 3 million people choose a Plan Medicare  </div>
                    </div>
                    <div class="mid3-box">
                        <div class="col-md-3">
                            <span class="col-md-3-text1"  data-lead-id="text-box34"  >Elda ,67</span> <br>
                            <span class="col-md-3-text2"   data-lead-id="text-box14"   >Hicksvile NY</span></div>
                        <div class="col-md-9"   data-lead-id="text-box15" >
                            Hi, I have been using Brian Krantz's expertise for the last three years. I was overwhelmed with information and Brian helped me patiently find a plan that fits my need. I have had no problems with the palan i choose. I have recommended four other people and each had the same experience. Do yourself a favor and call him. It saves you alot of scree and grief! 
                        </div>
                    </div>
                    <div class="mid3-box">
                        <div class="col-md-3">
                            <span class="col-md-3-text1"   data-lead-id="text-box16"  >Mitchell , 75 </span><br> 
                            <span class="col-md-3-text2"    data-lead-id="text-box17" >Meivlle NY</span></div>
                        <div class="col-md-9"  data-lead-id="text-box18" >
                            I have had the opportunity to know Brian for a good few years, He has always reviewed the coverages for my wife and myself and gave us the best programs available. That is how we are currently with plan Medicare and look forward to working with Brian for many years to come. 
                        </div>
                    </div>
                    <a data-lead-id="link--cta_2_link" id="cta_2_link" class="b2 btn">Read All Testimonials </a>  
                </div>
            </div>

            <div class="mid-4"  data-lead-id="mid-4" >
                <div class="mid-4-row">
                    <div style="mid2-top" >
                        <img  data-lead-id="img10"  src="img/step.png" />
                        <h1 class="mid2-h1"  data-lead-id="text-box19"  > Learn About Medicare Plan </h1>
                        <div class="mid2-con"   data-lead-id="text-box20"  > Find a Medicare plan that is right for you </div>
                    </div>
                    <div class="col-md-3">
                        <div class="inside2">
                            <div class="step"    data-lead-id="text-box21" > 1 </div>
                            <div class="inside2-title"  data-lead-id="text-box22" > Determine Your Eligibility </div>
                            <div class="inside2-content"    data-lead-id="text-box23" > Learn about enrollment period and gather all of the proper materials you will need to get started with Medicare.  </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="inside2">
                            <div class="step"   data-lead-id="text-box24"  > 2 </div>
                            <div class="inside2-title"   data-lead-id="text-box25"  > Determine Your Eligibility </div>
                            <div class="inside2-content"   data-lead-id="text-box26" > Learn about enrollment period and gather all of the proper materials you will need to get started with Medicare.  </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="inside2">
                            <div class="step"    data-lead-id="text-box27"  > 3 </div>
                            <div class="inside2-title"   data-lead-id="text-box28"  > Determine Your Eligibility </div>
                            <div class="inside2-content"   data-lead-id="text-box29"  > Learn about enrollment period and gather all of the proper materials you will need to get started with Medicare.  </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="inside2">
                            <div class="step"   data-lead-id="text-box30" > 4 </div>
                            <div class="inside2-title"    data-lead-id="text-box31"  > Determine Your Eligibility </div>
                            <div class="inside2-content"    data-lead-id="text-box32"  > Learn about enrollment period and gather all of the proper materials you will need to get started with Medicare.  </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer" data-lead-id="footer"  >
                <div    data-lead-id="text-box33"  > Copyright © Planmedicare. All Rights Reserved. <br>
                    <a data-lead-id="name-terms" >Terms of Use</a> | <a data-lead-id="name-policy" > I Privacy Policy</a>  </div>
            </div>
        </div>

      

    </body>
</html>
