<div id="isdatahtml">
    
    <div style="    background: #C9EBD7;padding: 50px;width: 800px;text-align: center;margin: 0 auto;    display: table;"   >
        
                                
        <div style="    border-radius: 10px;        width: 100%;    float: left;    clear: both;    padding-top: 10px;    padding-bottom: 10px;background: url('http://sample6joomla.advisorproducts.com/components/com_enewsletter/assets/images/appolo.png') no-repeat;background-color: #ffffff;       background-position: bottom left;    min-height: 400px;" >
            
            <div id="logomail" style="width: 25%; float: left;margin-bottom: 40px;" class="ui-draggable ui-draggable-handle ui-sortable-handle">
                                <img  id="imgslogo"  src="http://www.advisorproducts.com/components/com_enewsletter/images/logotext.png" border="0" /></div>
                                
            <div id="ctb" style="display: block; margin-bottom: 30px;width: 70%;float: right;margin-top: 80px; " class="ui-sortable-handle">
             
             <table id="articles" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" class="mceItemTable"><tbody>
                     <tr class="intro" id="intro" bgcolor="#ECEBE0" style="background-color: rgb(255, 255, 255);display: none;">                                    <td style="padding: 10px 25px 10px 25px;" data-mce-style="padding: 10px 25px 10px 25px;">  </td>  </tr>
                     <tr id-cont="article_content_8" class="edit_content" id="article_8" style="background: #ffffff" data-mce-style="background-color: #fbe497;"><td style="padding: 25px;" data-mce-style="padding: 25px;">  <table width="100%" class="mceItemTable"><tbody><tr style="background-color: rgb(255, 255, 255);"><td style="padding: 0 0 0 0;  font-face: arial; font-size: 10px; text-align: justify;" valign="top" data-mce-style="padding: 0 0 0 0; width: 45%; font-face: arial; font-size: 10px; text-align: justify;"><br> <div id="article_content_8" style="font-family: Arial; font-size: medium;" data-mce-style="font-family: Arial; font-size: medium;"> <strong style="font-size: 20px;" data-mce-style="font-size: 20px;">     <br><span style="font-family: Arial; font-size: medium;" data-mce-style="font-family: Arial; font-size: medium;"> <strong style="font-size: 20px;" data-mce-style="font-size: 20px;">
               <a href="#" style="color: #5CB388; text-decoration: none;font-size: 28px;" data-mce-href="#" data-mce-style="color: #5CB388;font-size: 28px; text-decoration: none;">
                           We're Speechless</a>
               </strong>
             <br><br>
             <div style="color:#666;" data-mce-style="color:#666;" >
                 A flood of emails were recently sent from example@domain.com to some Advisor users.  
                 <br>
                 It was a misconfiguation with our email provider causing blank emails to go out.
                 <br><br>
                 This was not a security breach and no data was compromised . We are putting measures in place to ensure this never happens again.
                 <br><br>
                 We apologize for the inconvenience it may have caused you.
                 <br><br>
                 Sincerely,<br>
                 The Advisor Team
                 </div>    
                                                             </span>
     </div>   </td>  </tr>  </tbody> </table>  </td>  </tr>  </tbody></table> 
					   
	 </div>
            
                                
        </div>
        
         
        
        
        <div style="width: 47%;float: left;padding: 5px; border-radius:6px;background-color:#E6F4E9;margin-right: 3%; margin-top: 20px;     min-height: 80px;">
            
            <div id="address-content" class="ui-draggable ui-draggable-handle" style="position: relative;"> <table border="0" cellspacing="0" cellpadding="0">
						<tr valign="top">
							<td>
								<p style="font-size:12px;"><b>{$firm_name}</b><br/>
								<span id="topaddress">{$firm_address}, {$firm_address2}<br/>
								{$firm_city}, {$firm_state} {$firm_zip}<br/>
								{$firm_phone}<br/></span>
								{$firm_email}<br/>
								{$firm_url}</p>
							</td>
							
						</tr>
						</table>          
            </div>
            
        </div>
        <div style="width: 47%;float: left;padding: 5px; border-radius:6px;background-color:#E6F4E9;margin-top: 20px;    min-height: 80px;">
            
            <div id="social" style="text-align: center;">    
                <br><br>
                <a href="#" id="lilinkedin"><img src="http://www.advisorproducts.com/components/com_enewsletter/images/icons/linkedin.png" alt="Smiley face" /></a>                 <a href="#" id="lirss"><img src="http://www.advisorproducts.com/components/com_enewsletter/images/icons/rss.png" alt="Smiley face" /></a>                <a href="#" id="lifacebook"><img src="http://www.advisorproducts.com/components/com_enewsletter/images/icons/facebook.png" alt="Smiley face" /></a>                 <a href="#" id="ligoogle"><img src="http://www.advisorproducts.com/components/com_enewsletter/images/icons/google-plus.png" alt="Smiley face" /></a>                 <a href="#" id="litwitter"><img src="http://www.advisorproducts.com/components/com_enewsletter/images/icons/twitter.png" alt="Smiley face" /></a> </div>
            
        </div>
        
    </div>
    
    <div id="advions-content" class="module ui-sortable-handle" style=" display: none;margin-top: 5px; margin-bottom: 20px; border: 4px solid rgb(221, 221, 221); border-radius: 3px; text-align: center;"> </div>
                       
    <div id="poll-content" class="module blue ui-sortable-handle" style=" display: none;padding: 20px; color: rgb(255, 255, 255); margin-top: 5px; margin-bottom: 20px; border-radius: 3px; text-align: center; background-color: rgb(34, 104, 190);"> 
                            <h1 style="color: #F79925!important;    text-transform: uppercase;    font-size: 18px!important; " class="poll-content-title1">   quick poll     </h1>
                            
   <div class="poll-content-text1" style="  display: none;    text-align: center;color: #fff; ">  <div>Real average hourly earnings soared since October 2014  ?</div><br /></div>   
                       
    </div>
                        
  <div id="seminar" class="module default ui-sortable-handle" style=" display: none;    margin-top: 5px;    margin-bottom: 20px;    border: 4px solid rgb(221,221,221);    border-radius: 3px;    padding: 30px;    text-align: center;">
                                   <h3 class="seminar-content-title2">
                                      Establish A Sustainble Retirement Income Plan
                                   </h3>
                                   <div class="seminar-content-text2">                                    
                                       <a href="#" class="button-or" style="    color: #FFF!important;    background-color: #FF9b0b;    font-size: 12px;    padding: 10px;    margin: 5px;    margin-top: 20px;    text-decoration: none;    padding-left: 30px;    padding-right: 30px;"> Start </a>
                                   </div>
                               </div>
                               
                              
  <div id="map" class="module ui-sortable-handle" style=" display: none;margin-top: 5px; margin-bottom: 20px; border: 4px solid rgb(221, 221, 221); border-radius: 3px; text-align: center;">
                           </div>
                              
                            
                        
   <div id="schedule" class="module default ui-sortable-handle" style=" display: none;margin-top: 5px; margin-bottom: 20px; border: 4px solid rgb(221, 221, 221); border-radius: 3px; padding: 30px; text-align: center;">
                                   <a id="aschedule" href="http://www.advisorproducts.com/book-now-iexodus">
                                  <img src="http://www.advisorproducts.com/components/com_enewsletter/images/meeting.png" width="69" /><h3 class="poll-content-title2">
                                     Schedule A Meeting
                                   </h3>
                                  </a>
                               </div>
			<div id="serminar1" class="module default ui-sortable-handle" style=" display: none;margin-top: 5px; margin-bottom: 20px; border: 4px solid rgb(221, 221, 221); border-radius: 3px; padding: 30px; text-align: center;">
                                   <a id="aserminar1" href="https://www.advisorproducts.com/index.php?option=com_zcalendar">
                                  <img src="http://www.advisorproducts.com/components/com_enewsletter/images/serminar.png" width="69" /><h3 class="poll-content-title2">
                                     Webinar Series 
                                   </h3>
                                  </a>
                               </div>
                        
                        <div id="weekly" class="module default ui-sortable-handle" style=" display: none;margin-top: 5px; margin-bottom: 20px; border-radius: 3px; padding: 30px; text-align: center;">
                                  
                                  <img src="http://www.advisorproducts.com/components/com_enewsletter/images/weekly.png" width="69" /><h3 class="poll-content-title2">
                                  <a id="aweekly" href="https://www.advisorproducts.com/weekly-update">Weekly Investment Update</a>
                                   </h3>
                                 
                        </div>
                               
                                <div id="invest" class="ui-sortable-handle" style="  display: none;   margin-top: 5px;    margin-bottom: 20px;    border: 4px solid rgb(221,221,221)!important;    border-radius: 3px;    background-color: #fff!important;padding: 30px;    text-align: center;" >
                             
                                 <img src="http://rimbatest1.advisorproducts.com/images/Investment.png" width="69" alt="Smiley face" />
                                 <br>
                                <a id="ainvest" href="http://rimbatest1.advisorproducts.com/about/featured-news" style="font-size: 22px;">Investment Indexes</a> 
                                
                        </div>
                        
                        
                        <div id="financial" class="ui-sortable-handle" style="   display: none;  margin-top: 5px;    margin-bottom: 20px;    border: 4px solid rgb(221,221,221)!important;    border-radius: 3px;    background-color: #fff!important;padding: 30px;    text-align: center;display: none;" >
                                
                            <img src="http://rimbatest1.advisorproducts.com/images/financial.png" width="69" alt="Smiley face" /><br>
                             <a id="afinancial" href="http://rimbatest1.advisorproducts.com/about/financial-briefs" style="font-size: 22px;">Finalcial Planning</a> 
                            
                            
                        </div>
                        
                        
                               <div id="cloud-tag" class="module default ui-sortable-handle" style=" display: none;margin-top: 5px; margin-bottom: 20px; border: 4px solid rgb(221, 221, 221); border-radius: 3px; padding: 30px; text-align: center;">
		<div style="    display: table;    padding: 10px;">
	  	</div>
	</div>
                             
</div>