<div id="isdatahtml">
<table align="center" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0" class="weeklyupdatetable" width="800"><tbody><tr><td>
				<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
				<tbody>
				<tr>
					<td>
								<table border="0" cellpadding="0" cellspacing="0" width="100%" id="enewsheader">
								<tbody>
								<tr valign="top">
								<td bgcolor="#ffffff" height="100" style="vertical-align:top;">
								  <div id="logomail" style="width: 48%; float: left; margin-bottom: 0px; position: relative;" class="ui-draggable ui-draggable-handle ui-sortable-handle">
                                <img  id="imgslogo"  src="http://www.advisorproducts.com/components/com_enewsletter/images/logotext.png" border="0" /></div>				
                                                                </td>
											<td align="left" style="font-size:8px;"><!--address on right-->
												<table border="0" cellspacing="0" cellpadding="0">
												<tr valign="top">
													<td>
														<div id="address" style="width: 48%;float: left;margin-bottom: 0px;" class="ui-sortable-handle">
						<div id="address-content" class="ui-draggable ui-draggable-handle" style="position: relative;"> <table border="0" cellspacing="0" cellpadding="0">
						<tr valign="top">
							<td>
								<p style="font-size:12px;"><b>{$firm_name}</b><br/>
								<span id="topaddress">{$firm_address}, {$firm_address2}<br/>
								{$firm_city}, {$firm_state} {$firm_zip}<br/>
								{$firm_phone}<br/></span>
								{$firm_email}<br/>
								{$firm_url}</p>
							</td>
							<td id="secondaddress">
								<p style="font-size:12px;"><span id="topaddress2"><b> </b><br/>{$firm_second_address}, {$firm_second_address2}<br/>
								{$firm_second_city}, {$firm_second_zip} {$firm_second_state}<br/>
								{$firm_second_phone}<br/></span></p>
							</td>
						</tr>
						</table>          </div>
                                                    </div>
													</td>
												</tr>
												</table>
`												<p align="right" style="margin-right:60px;" width="250"><br>
      <div id="social" >   
                                             {$social_links}
                                           </div> </p>
											</td>
										</tr>
								</tbody>
								</table><!--enewsheader-->
								{$firm_banner}
							</td>
						</tr>
						<tr>
						<td valign="top">
								<table border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td bgcolor="#FFFFFF" valign="top">
												<table width="100%"><tbody><tr><td>
																<table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr id="weeklyupdate"><td style="padding:25px;">
																				
                                                                                                                                                        
                                                                                                                                                        <div id="cta" style="display: block; margin-bottom: 30px; " class="ui-sortable-handle">
					      bcvdhdjdjdjdj
					   
					   </div>
                                                                                                                                                    </td>
																		</tr><tr id="disclosure"><td style="padding:10px 25px 0 25px;">
																				</td>
																		</tr><tr><td align="center" style="padding:10px 0 0 0;">
																				<p><img src="http://sample3joomla.advisorproducts.com/templates/sample3/images/couplecartoon.png" style="margin-top: 10px;border:none !important;"></p>
									  <p><font size="4"  face="arial">Give us a call and learn more today!
									  <span id="bottomaddress">
										<br>
										{$firm_address_bottom}, {$firm_address2_bottom}<br/>
										{$firm_city_bottom}, {$firm_zip_bottom} {$firm_state_bottom}<br/>
										{$firm_phone_bottom}
										</span>
										</font></p>
										<p id="bottomaddress2"><font size="4" face="arial">
										{$firm_second_address_bottom}, {$firm_second_address2_bottom}<br/>
										{$firm_second_city_bottom}, {$firm_second_zip_bottom} {$firm_second_state_bottom}<br/>
										{$firm_second_phone_bottom}
									  </font></p>
										</td>
																		</tr></tbody></table></td>
														</tr></tbody></table></td>
										</tr></tbody></table></td>
						</tr></tbody></table></td>
		</tr></tbody></table>

<div style="display: none;" class="ssddffssf" >
<table>
<tr bgcolor="#ECEBE0" id="intro"><td style="padding:0 25px 0px 25px;">
<table bgcolor="#ECEBE0" width="100%"><tbody><tr id="intro"><td style="padding:10px 25px 10px 25px;">
	</td>
</tr></tbody></table></td>
</tr>
</table>
      <div id="advions-content" class="module ui-sortable-handle" style=" margin-top: 5px; margin-bottom: 20px; border: 4px solid rgb(221, 221, 221); border-radius: 3px; text-align: center;"> </div>
                       
    <div id="poll-content" class="module blue ui-sortable-handle" style=" padding: 20px; color: rgb(255, 255, 255); margin-top: 5px; margin-bottom: 20px; border-radius: 3px; text-align: center; background-color: rgb(34, 104, 190);"> 
                            <h1 style="color: #F79925!important;    text-transform: uppercase;    font-size: 18px!important; " class="poll-content-title1">   quick poll     </h1>
                            
   <div class="poll-content-text1" style="    text-align: center;color: #fff; ">  <div>Real average hourly earnings soared since October 2014  ?</div><br /></div>   
                       
    </div>
                        
  <div id="seminar" class="module default ui-sortable-handle" style="   margin-top: 5px;    margin-bottom: 20px;    border: 4px solid rgb(221,221,221);    border-radius: 3px;    padding: 30px;    text-align: center;">
                                   <h3 class="seminar-content-title2">
                                      Establish A Sustainble Retirement Income Plan
                                   </h3>
                                   <div class="seminar-content-text2">                                    
                                       <a href="#" class="button-or" style="    color: #FFF!important;    background-color: #FF9b0b;    font-size: 12px;    padding: 10px;    margin: 5px;    margin-top: 20px;    text-decoration: none;    padding-left: 30px;    padding-right: 30px;"> Start </a>
                                   </div>
                               </div>
                               
                              
  <div id="map" class="module ui-sortable-handle" style=" margin-top: 5px; margin-bottom: 20px; border: 4px solid rgb(221, 221, 221); border-radius: 3px; text-align: center;">
                           </div>
                              
                            
                        
   <div id="schedule" class="module default ui-sortable-handle" style=" margin-top: 5px; margin-bottom: 20px; border: 4px solid rgb(221, 221, 221); border-radius: 3px; padding: 30px; text-align: center;">
                                   <a id="aschedule" href="http://www.advisorproducts.com/book-now-iexodus">
                                  <img src="http://www.advisorproducts.com/components/com_enewsletter/images/meeting.png" width="69" /><h3 class="poll-content-title2">
                                     Schedule A Meeting
                                   </h3>
                                  </a>
                               </div>
			<div id="serminar1" class="module default ui-sortable-handle" style=" margin-top: 5px; margin-bottom: 20px; border: 4px solid rgb(221, 221, 221); border-radius: 3px; padding: 30px; text-align: center;">
                                   <a id="aserminar1" href="https://www.advisorproducts.com/index.php?option=com_zcalendar">
                                  <img src="http://www.advisorproducts.com/components/com_enewsletter/images/serminar.png" width="69" /><h3 class="poll-content-title2">
                                     Webinar Series 
                                   </h3>
                                  </a>
                               </div>
                        
                        <div id="weekly" class="module default ui-sortable-handle" style="margin-top: 5px; margin-bottom: 20px; border-radius: 3px; padding: 30px; text-align: center;">
                                  
                                  <img src="http://www.advisorproducts.com/components/com_enewsletter/images/weekly.png" width="69" /><h3 class="poll-content-title2">
                                  <a id="aweekly" href="https://www.advisorproducts.com/weekly-update">Weekly Investment Update</a>
                                   </h3>
                                 
                        </div>
                               
                                <div id="invest" class="ui-sortable-handle" style="   margin-top: 5px;    margin-bottom: 20px;    border: 4px solid rgb(221,221,221)!important;    border-radius: 3px;    background-color: #fff!important;padding: 30px;    text-align: center;" >
                             
                                 <img src="http://rimbatest1.advisorproducts.com/images/Investment.png" width="69" alt="Smiley face" />
                                 <br>
                                <a id="ainvest" href="http://rimbatest1.advisorproducts.com/about/featured-news" style="font-size: 22px;">Investment Indexes</a> 
                                
                        </div>
                        
                        
                        <div id="financial" class="ui-sortable-handle" style=" margin-top: 5px;    margin-bottom: 20px;    border: 4px solid rgb(221,221,221)!important;    border-radius: 3px;    background-color: #fff!important;padding: 30px;    text-align: center;" >
                                
                            <img src="http://rimbatest1.advisorproducts.com/images/financial.png" width="69" alt="Smiley face" /><br>
                             <a id="afinancial" href="http://rimbatest1.advisorproducts.com/about/financial-briefs" style="font-size: 22px;">Finalcial Planning</a> 
                            
                            
                        </div>
                        
                        
                               <div id="cloud-tag" class="module default ui-sortable-handle" style=" margin-top: 5px; margin-bottom: 20px; border: 4px solid rgb(221, 221, 221); border-radius: 3px; padding: 30px; text-align: center;">
		<div style="    display: table;    padding: 10px;">
	  	</div>
	</div>
</div>
</div>
