.selectnav { display: none; }

#log-panel .button1 {
	display: none;
}

.closemenu {   
    display:none;
    position: absolute;
    right: 13px;
    top: 11px;
    font-weight: bold;
    color: red;
    font-size: 22px;
}
@media screen and (max-width: 767px) {
	a#menupanel {display: block;}
	#menu #nav{ display: none; }
	#menu .selectnav { display: block; width:98%; }
	.selectnav { margin: 3px 1%; }
	.menu-nav {
		display: none;
	    position: absolute;
		background: #fff;
		padding: 30px!important;
		border-radius: 7px;
		border: 2px solid #ccc;
		z-index: 10000000000;
		width: 210px;
		top: 0px;
		left: 27px;
	
	}
.closemenu {
display:block;
}
	#log-panel .button1 {
		display: inline;
		float: none !important;
		margin: 3px;
	}
	a#v_toggle {
		display: none;
	}
}

@media (min-width: 1200px) { 
	.camera_caption h1 {
		font-size: 320%;
		letter-spacing: -1px;
	}
	
	.camera_caption h2 {
		font-size: 135%;
		letter-spacing: 0px;
	}
	
	.camera_caption {
		font-size: 110%;
	}
	
	#search-position .search .inputbox, #search-position .finder .inputbox {
		max-width: 105px;
	}

	.p20 {
		width: 17.94% !important;
	}
	
}

@media (min-width: 1255px) { 
	.camera_prev {
		margin-left: -620px;
	}
	
	.camera_next {
		margin-right: -620px;
	}
}

@media (min-width: 1190px) and (max-width: 1254px) {
	.camera_prev {
		margin-left: -570px !important;
	}
	
	.camera_next {
		margin-right: -570px !important;
	}
}



/* Large desktop */

@media (min-width: 980px) and (max-width: 1199px) { 

	.inner {
		padding: 0px 30px;
	}
	
	#log-panel {
		padding-left: 10px;
	}	
	
	#log-panel li a {
		padding: 0px 10px 7px 10px;
		font-size: 11px;
	}

	.camera_caption h1 {
		font-size: 280%;
		letter-spacing: -1px;
	}
	
	.camera_caption h2 {
		font-size: 120%;
		letter-spacing: 0px;
	}
	
	.camera_caption {
		font-size: 110%;
	}
	
	#search-position .search .inputbox, #search-position .finder .inputbox {
		max-width: 75px;
	}
	
	#menu .menu-nav > li > a > span {
		padding: 0px 10px;
		font-size: 12px !important;
		letter-spacing: 0px;
	}
		
	#menu #nav ul { width: 14.5em !important;}
	#menu #nav ul ul { left: 14.5em !important; }
	
	.total_products {font-size:10px;}
	
	.moduletable_menu ul.menu li a, .moduletable_menu ol.menu li a, ul.latestnews_menu li a, .VMmenu li div a {
		font-size:13px;
		padding-top: 6px !important;
		padding-bottom: 6px !important;
		
	}
	
	a.product-details {
		display: inline-block;
	}

	.p20 {
		width: 18.22% !important;
	}
	
	#slideshow-handler.container {
		width: 100%;
	}
	
	.camera_prev {
		margin-left: 0px !important;
		left: 10px !important;
	}
	
	.camera_next {
		margin-right: 0px !important;
		right: 10px !important;
	}
	
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 

	body {
		font-size: 11px !important;
		padding-top: 0px !important;
	}

	h3 {
		font-size: 130%;
	}
	
	.inner {
		padding: 0px 20px;
	}
	
	#top-quick-nav {
		margin-left: -24px;
	}
	
	#log-panel li a {
		font-size: 11px;
		line-height: 18px;
	}


	.camera_caption h1 {
		font-size: 280%;
		letter-spacing: -1px;
	}
	
	.camera_caption h2 {
		font-size: 110%;
		letter-spacing: 0px;
	}
	
	.camera_caption {
		font-size: 100%;
	}
	
	#top-quick-nav {
		padding-top: 0px;
	}

	a.product-details {
		display: inline-block;
	}
	
	#search-position{margin-top:0px;}

	#search-position .search .inputbox, #search-position .finder .inputbox {
		width: 85px;
	}
	
	.total-items {
		text-align: right;
	}

	#search-position .search .button {
		text-indent: -9999px;
	}
	
	#search-position .search .advanced-search-button {
		width: 21px;
		text-indent: 9999px;
		font-size:0.01em;
		background-image: url(../images/advanced-search.png);
		background-position: 2px 3px;
		background-repeat: no-repeat;
		overflow: hidden;
		float:left;
	}
	
	#search-position .search .advanced-search-button:hover {
		background-position: 2px -46px;
	}

	#menu .menu-nav > li > a > span {
		padding: 0px 6px;
		font-size: 10px;
		letter-spacing: 0px;
	}

	#menu #nav ul { width: 11em !important;}
	#menu #nav ul ul { left: 11em !important; }

	#menu #nav ul li a { font-size: 11px; }
	
	#search-handler .inputbox {
		width: 100px;
	}
	
	
	.moduletable_menu ul.menu li a, .moduletable_menu ol.menu li a, ul.latestnews_menu li a, .button, button, a.button, .highlight-button {
		font-size: 11px !important;
	}
	
	.p20 { 
		width: 17.74% !important
	}
	
	#slideshow-handler.container {
		width: 100%;
	}
	
	.camera_prev {
		margin-left: 0px !important;
		left: 10px !important;
	}
	
	.camera_next {
		margin-right: 0px !important;
		right: 10px !important;
	}

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 


	#slideshow-handler.container {
		width: 100%;
	}
	
	.camera_prev {
		margin-left: 0px !important;
		left: 10px !important;
	}
	
	.camera_next {
		margin-right: 0px !important;
		right: 10px !important;
	}
	
	#main-handler, #bottom-long {
		padding: 0px 10px;
	}

	body {
		padding: 0px 2px !important;
	}

	#top, #sn-position {
		height: auto !important;
	}

	.camera_caption h1 {
		font-size: 190%;
		letter-spacing: -1px;
	}
	
	.camera_caption h2 {
		font-size: 100%;
		letter-spacing: 0px;
	}

	#top {
		padding: 5px;
	}
	
	.moduletable, .moduletable_text, .moduletable_style1, .moduletable_style2, .browse-view .row, .moduletable_menu {margin-bottom:5px;}

	.inner {
		padding: 0px 10px;
	}
	
	#site-name-handler {
		height: auto !important;
	}
	
	#sn-position, #log-panel {
		text-align: center;
	}
	
	#sn-position #h1, #sn-position #h2 {
		position: static !important;
	}
	
	#social-links {
		text-align: center;
		width: 100%;
	}
	
	#social-links li, #log-panel li {
		display: inline;
		background: none;
		margin: 0px;
		float: none;
	}

	#social-links li a, #log-panel li a {
		display: inline-block;
		float: none;
		margin: 0px 1px;
		padding: 7px;
	}
	
	#top-quick-nav {
		float: none;
		text-align: center;
	}
	
	#top-nav-handler .custom, #top-nav-handler .pull-right {
		float: none; 
	}
	
	.menu-horizontal {
		padding: 0px;
		margin: 0px;
	}
	
	#nav-handler {
		padding: 10px;
	}
	
	#menu-handler { 
		float: left; 
		width: 20%; 
	}
	
	#search-handler {
		width: 79%;
		float: right;
		
	}
	
	#log-panel {
		float: none;
		text-align: center;
		margin-bottom: 20px !important;
	}
	
	.rm-line {
		display: block;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		width: 30%;
		height: 3px;
		margin: 3px 35% 3px 35%;
	}
	
	a#menupanel {
		padding-top: 7px;
		padding-bottom: 7px;
	}

	#bot-modules .span2, #bot-modules-2 .span2, .row-fluid .ex-span2, .row-fluid .ex-span1_5  {
		width: 100% !important;
	}

	.span2.sp20 {
		width: 100% !important;
	}
	
	#top-nav-handler { padding-top: 0px !important; }

	#social-panel {
		padding: 0px;
		position: static;
		width: 100%;
	}
	
	#social {
		width: 100%;
		height: 30px;
		padding: 20px 0px;
		text-align: center;
		float: none;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
	}
	
	#bottom-bg .container, #footer .container {
		padding: 0px 20px;
	}
	
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 

#contact-right b  {

   
}

	#site-name-handler {
		height: auto !important;
	    margin-top: 17px;
	}
	
	#sn-position {
		text-align: center;
	}
	
	#sn-position h1, #sn-position h2 {
		position: static !important;
	}
	
	#top-nav-handler #social { 
		float: none;
		padding: 35px 0px 10px 0px;
	}
	
	#social-links {
		text-align: center;
	}
	
	#social-links li {
		display: inline;
		background: none;
		margin: 0px;
	}

	#social-links li a {
		display: inline-block;
		float: none;
		margin: 0px 1px;
	}
	
	.inner {
		padding: 0px 5px;
	}

	#search-position .search .inputbox, #search-position .finder .inputbox {
		max-width: 100px;
	}

	#foo-left-right .span6 p {
		text-align: center !important;
	}

	.camera_pag {
		bottom: 0% !important;
	}
	#top-nav-handler {
	    padding-right: 25px !important;
	padding-top: 25px !important;}
.switcher {
    margin-top: -15px;
	}

}


@media (max-width: 410px) { 

	#search-position .search {clear:both;}
	#search-position form {float:none;padding:0px;}
	a#menupanel{margin-bottom: 3px;}

}



a#menupanel {
      background-color: #0d4fa4 !important;
        margin-bottom: 3px;
    width: 50px;
        padding-top: 7px;
    padding-bottom: 7px;
        display: none;
        float:left;
	    margin-top: -40px;
}
.rm-line {
    background-color: #ffffff;
        width: 30%;
            height: 3px;
                border-radius: 2px;
                    display: block;
                    clear: both;
                        margin: 3px 35% 3px 35%;
}

@media screen and (max-width: 767px){
	a#menupanel {
	  display: block;
	}
	.menu-nav li {
	width:100%
	}
        
        .menu-nav li ul {
                display: block!important;
                position: static!important;
                border: none!important;
                background: none!important;
                box-shadow: none!important;
                visibility: visible!important;
        }
        .tabouter {
                width: 97%;
                float: left;
                    margin-top: 20px;
        }
        
        .tabouter ul.tabs li {
                width: 43%!important;
                 margin-left: 4%;
            
        }
        
}
@media screen and (max-width: 601px){
	.cd-form input.pure-button {
    margin: 10px 10px !important;
}
	[class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {
	    float: left !important;
	}
	#top-nav-handler
	{padding-top: 20px !important;
}
	.popup img {
    width: 10% !important;
}
.pure-u-sm-1-5, .pure-u-sm-1-6 {
    width: 50.6667% !important;
}
.pure-u-md-1-3 {
    width: 50% !important;
}
.formResponsive input.rsform-calendar-button {
    /*top: 22px !important;*/
	}
.pure-u-1, .pure-u-1-1, .pure-u-5-5 {
    /*width: 50% !important;*/
}
#cus_socialmedia {
    width: 80% !important;
}
.formResponsive select.rsform-select-box-small {
	max-width: 65px !important;
}
}
@media screen and (min-width: 1200px){ 
	.mod-languages {
    margin-right: 30px;
			    padding-top: 10px;
			z-index: 0;
}
}
@media screen and (max-width: 568px) and (min-width: 320px) {
	#top-nav-handler {
		padding-top: 25px !important;
	}
}
@media screen and (max-width: 414px) {
	.pure-u-sm-1-3 {
		width: 100% !important;
	}
}


@media screen and (max-width: 767px) {
	body .formResponsive .formHorizontal select, body .formResponsive .formHorizontal textarea, body .formResponsive .formHorizontal input[type="text"], body .formResponsive .formHorizontal input[type="password"] {
		display: block !important;
		width: 80% !important;
		max-width: 80% !important;
	}
	body .formResponsive .formHorizontal select{
		height: 60px;
	}

	/*body .formResponsive input.rsform-calendar-button {
	    width: 40px !important;
		top: 32px !important;
		line-height: 38px !important;
		right: 81px !important;
	}	*/
	body .formResponsive .formHorizontal input[type="text"]{
		max-width: 80% !important;
	}
	#g-recaptcha-response{
		display: none !important;
	}
	.rc-anchor-normal {
		width: auto;
	}
	#sn-position img {
		display: inline !important;
	}
	body .container {
		width: 100%;
		margin: 0;
	}
	
	body #sn-position img {
		max-width: 100%;
	}
	body #bottom-bg .container, body #footer .container {
		padding: 0;
	}
	#footer .moduletable{
	    padding: 0px 20px;	
	}
	body .formResponsive .formHorizontal select{
		max-width: 95% !important;
		width: 95% !important;
	}
	body .cd-form div {
		margin:0;
		width: 100% ;
	}
	body iframe, svg {
		max-width: 100%;
		width: 100%;
	}
	body, dt.tabs.open {
		width: 100% !important;
		padding: 0px !important;
		margin: 0px !important;
	}
	body .cd-form input.pure-button {
		/*width: 50% !important;*/
	}
	body .cd-form .rsform-block-captcha div.caption {
		margin: 5% 0px;
	}
	body .cd-form div {
		text-align: left;
	}
	/*body .cd-form input.pure-button {

		margin-bottom: 20px;
	}*/
	body .addmoreppl {
					width: 50% !important;
		margin-bottom: 20px;
	}
	body .addmoreppl {
		margin-left: 0 !important;
	}
	body .cd-form input.pure-button {
		margin: 0 !important;
		margin-bottom: 0px !important;
	}
	
}

@media screen and (max-width: 414px){
	/*body .formResponsive input.rsform-calendar-button {
		width: 40px !important;
		top: 32px !important;
		line-height: 38px !important;
		right: 50px !important;
	}*/
	/*body .cd-form input.pure-button {
		width: 50% !important;
		margin-bottom: 10px;
	}*/
	body .addmoreppl {
		width: 51% !important;
		margin-bottom: 10px;
	}	
	body .taothem {
		margin-left: 10px !important;
}
		body .nhaptuexcel {
	float: left !important;
    width: 54% !important;
    margin-top: 10px !important;
    margin-bottom: 10px !Important;
			}
	
}


